*{
    margin: 0;
    padding:0;
}
h1{
    text-align: center;
}
.card-container{
    margin:0 auto;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0  pink;
    font-size: 0;
    margin-top:20px;
}
.card-head #calculator{
    width:295px;
    height: 50px;
    text-align: right;
    font-size:30px;
}
#btn{
    width:73px;
    height:70px;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    margin:1px;
}
#btn:hover{
    background:rgb(215, 253, 0);
}
.card-body{
    margin-top:2px;
    background:rgb(209, 241, 243);
    width:100%;
}
